<div>
    <h1 *ngIf="testing">{{ testing.Age }}</h1>
  <h1 *ngIf="testing">{{ testing.Weight }}</h1>
  <h1 *ngIf="testing">{{ testing.Height }}</h1>
  <h1 *ngIf="testing">{{ testing.BloodPressure }}</h1>
  <h1 *ngIf="testing">{{ testing.PulseRate }}</h1>
  <h1 *ngIf="testing">{{ testing.ExercisePerWeek }}</h1>
  <h1 *ngIf="testing">{{ testing.VacationBalance }}</h1>
  <h1 *ngIf="testing">{{ testing.WorkPerWeek }}</h1>
  <h1 *ngIf="testing">{{ testing.BodyTemp }}</h1>
  <h1 *ngIf="testing">{{ testing.RespirationRate }}</h1>
  <h1 *ngIf="testing">{{ testing.Fpercent }}</h1>
  <h1 *ngIf="testing">{{ testing.malePercentage }}</h1>

  <h1 *ngIf="testing">{{ testing.totalEmployee }}</h1>
  

</div>
