@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@0;1&display=swap');


/*       Variables      */

:root {
  /*       Color      */
  --text-regular: #8e8b8b;
  --text-dark: #0a0a0a;
  --text-white: #f8f9fa;
  --background-white: #fff;
  --background-main: #f8f8f8;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
  --primary-color: rgb(251, 115, 81);
  --disabled-color: rgba(251, 115, 81,0.5);
  --secondary-color: #ef7051;
  --border-color: #ecedef;
  --alternate-primary: #8ac389;

  /*       Font family      */
  --font-poppins: "Poppins","sans-serif";


  /*       Gradient colors      */
  --bg-gradient: linear-gradient(to right, #ff512f,#dd2476);
  --bg-gradient-indigo: linear-gradient(to right, #f9886b, #fc6b47);
  --bg-gradient-peach: linear-gradient(to right, #fff7f3,#fff7f3);

}

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
  font-size: 62.5%;
}
* > * {
  box-sizing: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


._25 {
  width: 21%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
._50 {
  width: 46%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
._75 {
  width: 71%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
._100 {
  width: 96%;
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;

}

label {
  width: 100%;
}
input {
  width: 100%;
  padding-left: 6px;
}

select {

  width: 100%;
}


.row {
  width: 100%;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.col {
  margin-left: 8px;
  margin-right: 8px;
}

.col-1 {
  width: 100%;
}
.col-2 {
  width: calc(100% / 2);
}

.col-4 {
  width: calc(100% / 4);
}

.col-5 {
  width: calc(100% / 5);
}
.col-6 {
  width: calc(100% / 6);
}

.col-8 {
  width: calc(100% / 8);
}

.col-9 {
  width: calc(100% / 9);
}

.col-12 {
  width: calc(100% / 12);
}


.bg-gradient {
  background: var(--bg-gradient);
}

.bg-gradient-indigo {
  background: var(--bg-gradient-indigo);
}
.bg-gradient-peach {
  background: var(--bg-gradient-peach);
}


.font-poppins {
  font-family: var(--font-poppins);
}

.text-center {
  text-align: center !important;
}

.text-sm {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.text-s {
  font-size: 1.3rem;
  line-height: 2.4rem;
}

.text-m {
  font-size: 1.4rem;
  line-height: 2.5rem;

}

.text-l {
  font-size: 1.6rem;
  line-height: 3.6rem;

}


.text-xl {
  font-size: 1.8rem;
  line-height: 4.2rem;
}

.text-xxl {
  font-size: 2.2rem;
  line-height: 4.8rem;
}


.font-bold {
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-grow{
  flex: 1;
}

.text-upper {
  text-transform: uppercase;
}


.margin-auto {
  margin-left: auto;
  margin-right: auto;

}

.lh-1 {
  line-height: 1rem;
}

.lh-2 {
  line-height: 2rem;
}

.lh-3 {
  line-height: 3rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}


.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.float-right {
  float: right;
}


.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  margin: 0 1rem;
  padding: .8rem 2rem;
  border-radius: 50px;
  font-family: var(--font-poppins);
  font-weight: bold;
  border: 1px solid #dddddd;
  max-height: 2.5rem; 
}

.btn--disabled {
  background-color: var(--disabled-color);
  pointer-events: none;
  color: var(--text-regular);
}

.btn-primary:hover {
  background: var(--bg-gradient-indigo);
  color: var(--text-white);
  box-shadow: var(--box-shadow);
}

.btn-shadow {
  box-shadow: var(--box-shadow);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  max-width: 1240px;
  min-height: 75px;
  background-color: var(--background-white);
  border-bottom: 1px solid #f7f7f7;

}

.header .nav-bar {
  justify-content: space-around;
  align-items: center;
  height:75px;
}

.logo img {
  object-fit: contain;
  width: 12em;
  height: auto;

}

.logo img:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);

}

.header .logo-container {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 0.4em;
  margin-left: 1rem;
  margin-right: 1rem;
}


.header .search-bar {
  flex: 1.5;
  border: solid 1px #dddddd;
  border-radius: 2em;

}

.header .search-bar:focus {
  outline: 1px solid red;
}

.search-bar  .search-bar__input {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--text-regular);
  border: none;
  background-color: transparent;
  outline: none;
}

.search-bar  .search-bar__input:focus {
  color: #bab7b7;
}


.nav-bar .search-icon {
  text-align: center;
  height:1.6em;
  width: 1.6em;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 1px solid #dddddd;
}

.nav-bar .search-icon:hover {
  background: var(--bg-gradient-indigo);
  color: var(--text-white);
  cursor: pointer;
  box-shadow: var(--box-shadow);

}

.search-icon > i {
  margin-top: 0.3em;
}



.header .utility {
  flex: 1;
}

.utility__share-btn .share-text,
.utility__create-new-btn .create-text {
  text-transform: capitalize;
}


@media (max-width: 1240px ) {
  .utility__share-btn .share-text {
    display: none;
  }
  .utility__create-new-btn .create-text {
    display: none;
    text-transform: uppercase;
  }
}


.utility .utility__bell-icon-wrapper {
  border-radius: 50px;
}

.utility .utility__bell-icon-wrapper:hover {
  background: var(--bg-gradient-indigo);
  color: var(--text-white);
  box-shadow: var(--box-shadow);
}

.utility .utility__bell-icon {
  margin: 0 1rem;
  color: black;
}

.utility__bell-icon:hover {
  cursor: pointer;
  color: white;
}

.utility img {
  margin-top:4px;
  line-height: 37.8px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

.utility img:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.main {
  margin: 75px auto 0;
  max-width: 1240px;
  background-color: var(--background-main)
}

.main .main__header {
} 

.row .main__banner {
  text-align: center;
  padding: 1em 0;
  height: 300px;
  max-height: 300px;
}

.main__header .main__greeting {
  background-color: var(--background-white);
  margin-top: 2em;
  height: 28em;
  border-radius: 1em;
  box-shadow: var(--box-shadow);
}

.main__header .main__greeting-text {
  margin-top: 0.5em;
  font-size: 4rem;
  padding: 1rem;
}

.main__header .main__greeting-name {
  color: var(--alternate-primary);
  font-size: 5rem;
}


.main__greeting-info {
  color: var(--text-regular);
  font-size: 1.6rem;
  margin-top: 0.2em;
  margin-bottom: 5em;
}

.main__banner .main__banner-item {
  margin-top: 1em;
  min-height: 10em;
  max-height: 12em;
  color: var(--text-white);
  border-radius: 1em;
  text-transform: capitalize;
  background-color: var(--primary-color);
}

.main .main__filters {
  padding: 0 0 2em;
  margin: 2em 0;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.main__filters .main__filters-item {
  color: black;
  background-color: var(--background-white);
  border-radius: 6em;
  text-align: center;
  border: 1px solid var(--text-regular);
}


.main__filters .main__filters-item--active {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  color: var(--background-white);
}

.main__filters .main__filters-item:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: var(--background-white);
}

.main .main__employee-data {
  background-color: var(--background-white);

}


.modal { 
  position: fixed; 
  inset: 0;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal__body {
  width: 42%;
  height: 85%;
  background-color: var(--background-white);
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: auto;
}

.modal__inner {
}

.modal__inner .modal__inner-header {
  justify-content: center;
  padding: 1em;
  height: 4em;
  max-height: 1.4em;
  background-color: var(--background-main);
  

}


.modal__inner .header__icon-wrapper {
  padding: 0 0.4em;
}

.modal__inner .modal__inner-form-wrapper {
  margin: 1em 6em;
}

.modal__inner input {
  line-height: 2.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-main);
}

.modal__inner .header__tittle {
  text-transform:capitalize;
  color: var(--primary-color);
}


.modal__inner-form-wrapper .form__double-col {
  
}

.modal__inner-form-wrapper .form__info {
  align-items: stretch;
}




.modal__inner .add-emp-btn {
  margin: 1em 0;
  width: 16em;
  max-height: 2.8em;
}