<!DOCTYPE html>
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>

    </head>
    <body>
      <div class="app">
          <!-----------------Header section----------------->
        <header class="header">
          <div class="nav-bar">
            <div class="logo">
              <div class="logo-container">
                <img src="../assets/img/logo/vendia-logo.svg" alt="https://www.vendia.net/images/logo/white.svg">
              </div>
            </div>
            <div class="search-bar">
              <input type="text" placeholder="Type to search ..." class="search-bar__input">
            </div>
            <button class="search-icon">
              Search
            </button>
            <div class="utility">
              <button class="utility__share-btn">
                <span class="share-text">Share</span>
                <i class="fa-solid fa-share-from-square"></i>
              </button>
              <button id="create-new-btn" class="utility__create-new-btn"
              (click) = goToAddEmployeee()>
                <span class="create-text ">New</span>
                <i class="fa-solid fa-plus"></i>
              </button>
              <div class="utility__avatar">
                <div class="utility__avatar-panel">
                  <div class="avatar-panel__wrapper ">
                    <div class="avatar-panel__header">
                      <header class="">
                        John Doe
                      </header>
                    </div>
                    <div class="avatar-panel__item  ">
                      <div class="avatar-panel__item-icon">

                      </div>
                      <div class="avatar-panel__item-title">
                        settings & privacy
                      </div>
                    </div>
                    <div class="avatar-panel__item  ">
                      <div class="avatar-panel__item-icon">

                      </div>
                      <div class="avatar-panel__item-title">
                        help & support
                      </div>
                    </div>
                    <div class="avatar-panel__item  ">
                      <div class="avatar-panel__item-icon">
                      </div>
                      <div class="avatar-panel__item-title">
                        give feedback
                      </div>
                    </div>
                    <div class="avatar-panel__item  ">
                      <div class="avatar-panel__item-icon">

                      </div>
                      <div class="avatar-panel__item-title">
                        log out
                      </div>
                    </div>
                  </div>

                </div>
                <img id="avatar-img" src="https://studyingbreakingbadcourse.files.wordpress.com/2016/02/walt-wearing-hat.jpg" alt="">
              </div>
            </div>
          </div>
        </header>
          <!---------------End of Header section----------------->


        <main class="main">
          <!-------------------Banner section------------------->
          <div class="main__header">

                  <!-------------------Greeting section------------------->
            <div class="main__greeting">
              <div style="color: transparent" class="greeting-flag">
              flag
              </div>
            </div>
                  <!-------------------End of Greeting section------------------->


                  <!-------------------Banner section------------------->
            <div class="main__banner">
              <div class="main__banner-wrapper">
                <div class="main__banner-item ">
                  <header class="main__banner-item-header" >
                    Working out more than <span>3 hours a week</span> helps:
                  </header>
                  <div class="main__banner-item-body-wrapper">
                    <div class="main__banner-item-body-wrapper-item">
                      <i class="fa-solid fa-arrow-down "></i>
                      <p>Lower blood pressure</p>
                    </div>
                    <div class="main__banner-item-body-wrapper-item">
                      <i class="fa-solid fa-arrow-up "></i>
                      <p> Higher respiratory rate</p>
                    </div>

                    <div class="main__banner-item-body-wrapper-item">
                      <i class="fa-solid fa-check  "></i>
                      <p>Have ideal BMI</p>
                    </div>
                  </div>
                </div>
                <div class="main__banner-item">
                  <header class="main__banner-item-header">
                    percentage of each gender  working more than <span>40</span> hours a week:
                  </header>
                  <div class="main__banner-item-body-wrapper">
                    <div class="main__banner-item-body-item">
                      <i class="fa-solid fa-mars"></i>
                      <p>Male  <span> {{ malePercentage }}</span></p>
                    </div>
                    <div class="main__banner-item-body-item">
                      <i class="fa-solid fa-venus"></i>
                      <p>Female  <span> {{ femalePercentage }} </span> </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main__banner-wrapper">
                <div class=" main__banner-item">
                  <header >
                    Means (probably)
                  </header>
                </div>
                <div class="main__banner-item">

                  <header>
                    standard deviation (probably)
                  </header>
                </div>
              </div>
            </div>
          </div>
          <!-------------------End of Banner section----------------- -->

          <!-------------------Filters section------------------->
          <div class="filters-wrapper">
            <div class="main__filters">
              <div class="main__filters-item">Employee</div>
              <div class="main__filters-item">Age</div>
              <div class="main__filters-item">Gender</div>
              <div class="main__filters-item">Height</div>
              <div class="main__filters-item">Body Temp</div>
              <div class="main__filters-item">Pulse Rate</div>
              <div class="main__filters-item">Blood Pressure</div>
              <div class="main__filters-item">Respiration Rate</div>
              <div id="filters" class="main__filters-item ">
                Filters
              </div>
            </div>
          </div>
           <!-------------------End of Filters section------------------->


          <!---------------------Employee data section------------------- -->
          <div class="main__employee-data">
              <div class="employee-data-group">
                <div class="employee-data__item">
                  <header class="">
                    Employees
                  </header>
                  <div class="employee-data__item-description">
                      Total number of all employees
                  </div>
                  <p>
                    {{ employeeCount }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="">
                    Age
                  </header>
                  <div class="employee-data__item-description">
                    Average age of all employees
                  </div>
                  <p>
                    {{ avgAge }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="">
                    Gender
                  </header>
                  <div class="employee-data__item-description">
                    All genders of all employees
                  </div>
                  <p>
                    N/A
                  </p>
                </div>
                <div class="employee-data__item">
                  <header>
                    Height
                  </header>
                  <div class="employee-data__item-description">
                    Average height of all employees
                  </div>
                  <p>
                    {{ avgHeight }}
                  </p>
                </div>
              </div>
              <div class="employee-data-group">
                <div class="employee-data__item">
                  <header class="text-xl">
                    Body Temperature
                  </header>
                  <div class="employee-data__item-description">
                      average temperature of all employees
                  </div>
                  <p>
                    {{ avgTemp }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Pulse Rate
                  </header>
                  <div class="employee-data__item-description">
                    average Pulse Rate of all employees
                  </div>
                  <p>
                    {{ avgPulse }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Blood Pressure
                  </header>
                  <div class="employee-data__item-description">
                    average  Blood Pressure of all employees
                  </div>
                  <p>
                    50.0
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Respiration Rate
                  </header>
                  <div class="employee-data__item-description">
                    Average Respiration Rate  of all employees
                  </div>
                  <p>
                    {{ avgRespRate }}
                  </p>
                </div>
              </div>
              <div class="employee-data-group">
                <div class="employee-data__item">
                  <header class="text-xl">
                    Weight
                  </header>
                  <div class="employee-data__item-description">
                    Average weight of all employees

                  </div>
                  <p>
                    {{ avgWeight }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Hours Exercise Per Week
                  </header>
                  <div class="employee-data__item-description">
                    Average Hours Exercise Per Week of all employees
                  </div>
                  <p>
                    {{ avgExercise }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Vacation Balance
                  </header>
                  <div class="employee-data__item-description">
                    Average Vacation Balance of all employees
                  </div>
                  <p>
                    {{ avgVacation }}
                  </p>
                </div>
                <div class="employee-data__item">
                  <header class="text-xl">
                    Hours Work Per Week
                  </header>
                  <div class="employee-data__item-description">
                    Average Hours Work Per Week of all employees
                  </div>
                  <p>
                    {{ avgWork }}
                  </p>
                </div>
              </div>
          </div>

          <!---------------------End of Employee data section------------------- -->


        </main>


          <!---------------------FOOTER------------------- -->

        <footer id="footer" class="footer">
          <div class="footer__wrapper flex ">
            <div class="wrapper-copyright text-capitalize text-m">
              Knockout Spiders
              <i class="fa-regular fa-copyright"></i>
              2022
            </div>
            <div class="wrapper-social-medias text-xl flex ">
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-github"></i>
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram-square"></i>
            </div>
          </div>
        </footer>
          <!---------------------End of FOOTER------------------- -->

      </div>

  </body>

