<head>
  <title>All Employee</title>
  <link rel="stylesheet" href="./table-display.component.css">
</head>

<body>
  <main>
    <div class="main-wrapper">
      <header class="main-wrapper__header">
        <div class="header-title">
          All Employees Stats:
        </div>
        <div class="btn-group-wrapper">
          <button id="add-btn" class="btn"
          (click) = goToAddEmployee()>
            Add
          </button>
          <button id="del-btn" class="btn"
                  (click) = goToUpdateEmployee()>
            Delete
          </button>
          <button id="update-btn" class="btn">
            Update
          </button>
          <div>
            Gender Select:
            <select #gender class="form__double-col-item-selection-select"
                    (change) = "onSelected(gender.value)">
              <option id="All" name="All">All</option>
              <option id="Man">Male</option>
              <option id="Woman" name="Woman">Female</option>
              <option id="Transgender">Transgender</option>
              <option id="Non-binary">Non-Binary</option>
              <option id="Prefer">PreferNotToRespond</option>
            </select>
          </div>
        </div>
      </header>
      <div class="main-wrapper__content">
        <div class="content__header">
          <div class="header__title">
            ID
          </div>
          <div class="header__title">
            Full Name
          </div>
          <div class="header__title">
            Age
          </div>
          <div class="header__title">
            Gender
          </div>
          <div class="header__title">
            Height
          </div>
          <div class="header__title">
            Body Temperature
          </div>
          <div class="header__title">
            Pulse Rate
          </div>
          <div class="header__title">
            Blood Pressure
          </div>
          <div class="header__title">
            Respiration Rate
          </div>
          <div class="header__title">
            Weight
          </div>
          <div class="header__title">
            Weekly Exercise (Hours)
          </div>
          <div class="header__title">
            Vacation Balance
          </div>
          <div class="header__title">
            Weekly Work (Hours)
          </div>
        </div>
        <div class="content__employee-list">
          <div *ngFor="let item of ids; let i = index">
            <div class="employee-list-item">
              <div class="employee-list-item-content">{{ids[i] + 1}}</div>
              <div class="employee-list-item-content">{{outputFullName(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputAge(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputGender(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputHeight(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputTemp(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputPulse(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputPressure(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputResp(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputWeight(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputExercise(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputVacation(ids[i])}}</div>
              <div class="employee-list-item-content">{{outputWorkHours(ids[i])}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <!-- <footer id="footer" class="footer">
    <div class="footer__wrapper ">
      <div class="wrapper-copyright">
        Knockout Spiders
        <i class="fa-regular fa-copyright"></i>
        2022
      </div>
      <div class="wrapper-social-medias">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram-square"></i>
      </div>
    </div>
  </footer> -->
</body>

