@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


/*       Variables      */

:root {
  /*       Color      */
  --text-regular: #8e8b8b;
  --text-dark: #0a0a0a;
  --text-white: #f8f9fa;
  --background-white: #fff;
  --background-main: #f8f8f8;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
  --primary-color: #af8cf5;
  --disabled-color: rgb(160, 115, 250,0.5);
  --secondary-color: rgb(174, 139, 244);
  --border-color: #b8b6b6;
  --alternate-primary: #17c214;
  --banner-background: rgb(243, 241, 246);


}

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
  font-size: 62.5%;
}
* > * {
  box-sizing: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}



.main-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: auto;
  max-width: 1500px;
  padding-bottom: 1em;
}

.main-wrapper__header {
  padding: 1em 0 0.2em 1em;
  margin-bottom: 0.2em;
  font-size: 3rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--secondary-color);
}


.content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--border-color); */
  padding-bottom: 1em;
  background-color: rgb(240, 249, 245);
}

.header__title {
  margin: 0 0.2em;
  text-align: center;
  font-size: 1.6rem;
  width: calc(100%/12);
  font-weight: 600;
}

.content__employee-list {
  margin-top: 1em;
  background-color: rgb(247, 250, 251);
}

.employee-list-item {
  display: flex;
  justify-content: space-between;

}

.employee-list-item-content {
  width: calc(100%/12);
  text-align: center;
  border-right: 1px solid var(--border-color);
}

.employee-list-item-content:first-child {
  border-left: 1px solid var(--border-color);
}



#footer {
  position: relative;
  bottom: -62px;
  right: 0;
  left: 0;
  margin: auto;
  height: 46px;
  max-width: 1240px;
  min-height: 60px;
  background-color: var(--background-white);
  border-bottom: 2px solid #f7f7f7;
  z-index: 9999;
}

.footer__wrapper {
  height: 100%;
  justify-content: space-between;
}

.wrapper-social-medias {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 4.2rem;

}