<head>
  <title>All Employee</title>
  <link rel="stylesheet" href="./table-display.component.css">
</head>

<body>
  <main>
    <div class="main-wrapper">
      <header class="main-wrapper__header">
        <div class="header-title">
          All Employees Stats:
        </div>
        <button class="header-add-new-btn"
        (click) = goToAddEmployee()>
         +  Create Employee
        </button>
      </header>
      <div class="main-wrapper__content">
        <div class="content__header">
          <div class="header__title">
            ID
          </div>
          <div class="header__title">
            Full Name
          </div>
          <div class="header__title">
            Age
          </div>
          <div class="header__title">
            Gender
          </div>
          <div class="header__title">
            Height
          </div>
          <div class="header__title">
            Body Temperature
          </div>
          <div class="header__title">
            Pulse Rate
          </div>
          <div class="header__title">
            Blood Pressure
          </div>
          <div class="header__title">
            Respiration Rate
          </div>
          <div class="header__title">
            Weight
          </div>
          <div class="header__title">
            Weekly Exercise (Hours)
          </div>
          <div class="header__title">
            Vacation Balance
          </div>
          <div class="header__title">
            Weekly Work (Hours)
          </div>
        </div>
        <div class="content__employee-list">
          <div *ngFor="let item of ids; let i = index">
            <div class="employee-list-item">
              <div class="employee-list-item-content">{{i + 1}}</div>
              <div class="employee-list-item-content">{{outputFullName(i)}}</div>
              <div class="employee-list-item-content">{{outputAge(i)}}</div>
              <div class="employee-list-item-content">{{outputGender(i)}}</div>
              <div class="employee-list-item-content">{{outputHeight(i)}}</div>
              <div class="employee-list-item-content">{{outputTemp(i)}}</div>
              <div class="employee-list-item-content">{{outputPulse(i)}}</div>
              <div class="employee-list-item-content">{{outputPressure(i)}}</div>
              <div class="employee-list-item-content">{{outputResp(i)}}</div>
              <div class="employee-list-item-content">{{outputWeight(i)}}</div>
              <div class="employee-list-item-content">{{outputExercise(i)}}</div>
              <div class="employee-list-item-content">{{outputVacation(i)}}</div>
              <div class="employee-list-item-content">{{outputWorkHours(i)}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <footer id="footer" class="footer">
    <div class="footer__wrapper ">
      <div class="wrapper-copyright">
        Knockout Spiders
        <i class="fa-regular fa-copyright"></i>
        2022
      </div>
      <div class="wrapper-social-medias">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram-square"></i>
      </div>
    </div>
  </footer>
</body>

