<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add New</title>
<link rel="stylesheet" href="add-employee.component.css">
</head>
<body>

</body>
<div id="modal-add-new" class="modal">
<div class="modal__body">
    <div class="modal__inner">
    <div class="modal__inner-header ">
        <div class="header__icon-wrapper">
        <i class="fa-solid fa-people-group"></i>
        </div>
        <div >
            <header style="  font-size: 3rem;
            text-transform: capitalize;
            color: var(--primary-color);" class="header__title" >
                add new employee
            </header>
        </div>
    </div>
    <div class="modal__inner-form-wrapper">
        <form id="#modal-add-new-form" action="#" >
        <div class="form__double-col ">
            <div class="form__double-col-item">
            <label class="form__double-col-item-label" >First name</label>
            <input class="modal__inner-input" required="required" id="firstName" type="text" placeholder="  John">
            </div>
            <div class="form__double-col-item">
            <label class="form__double-col-item-label">Last Name</label>
            <input class="modal__inner-input" required="required" id="lastName"  type="text" placeholder="  Doe">
            </div>
        </div>
        <div class="form__double-col">
            <div class="form__double-col-item">
            <label class="form__double-col-item-label">Age</label>
            <input class="modal__inner-input"  required="required" id="age" type="number" placeholder="  18">
            </div>
            <div class="form__double-col-item">
            <label class="form__double-col-item-label">Gender:</label>
            <select class="form__double-col-item-selection-select" >
                <option >Male</option>
                <option >Female</option>
                <option >Trans</option>
                <option >Prefer Not To Repsond</option>
            </select>
            </div>
        </div>

        <div class="form__single-col">
            <div class="form__single-col-item">
            <label class="form__single-col-item-label">Height(in inches)</label>
            <input class="modal__inner-input" required="required" id="height"  type="number" placeholder="  70">
            </div>
            <div  class="form__single-col-item">
            <label class="form__single-col-item-label">Body temp (in F)</label>
            <input class="modal__inner-input" required="required"  id="bodyTemp"   type="number"  placeholder="  98">
            </div>
        </div>

        <div class="form__info">
            <label class="form__info-label">Pulse Rate(beats per minute)</label>
            <input class="modal__inner-input" required="required" id="pulseRate" type="number"  placeholder="  80">
            <label class="form__info-label">Blood Pressure (number over number i.e. 120/80)</label>
            <input class="modal__inner-input" required="required" id="bloodPressure"  type="number"  placeholder="  (120 80)">
            <label class="form__info-label">Respiration Rate (breaths per minute)</label>
            <input class="modal__inner-input" required="required"  id="respirationRate"  type="number"  placeholder="  12">
            <label class="form__info-label">Weight (in pounds)</label>
            <input class="modal__inner-input" required="required"  id="weight"  type="number"  placeholder="  110">
            <label class="form__info-label">Average Hours of Exercise Per Week</label>
            <input class="modal__inner-input" required="required" id="avgHoursExercise"   type="number"  placeholder="  8">
            <label class="form__info-label">Vacation Balance (in hours)</label>
            <input class="modal__inner-input" required="required"  id="vacationBalance"  type="number"  placeholder="  5">
            <label class="form__info-label">Average Hours of work Per Week</label>
            <input class="modal__inner-input" required="required"  id="avgHoursOfWo"  type="number"  placeholder="  50">
        </div>
        </form>
        <!--Currently being disabled until valid  data entered -->
        <button id="form-add-btn" class="add-emp-btn  float-right"
        (click) = clickedAddButton()>
        Add
        </button>

    </div>
    </div>
</div>
</div>
