@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


/*       Variables      */

:root {
  /*       Color      */
  --text-regular: #8e8b8b;
  --text-dark: #0a0a0a;
  --text-white: #f8f9fa;
  --background-white: #fff;
  --background-main: #f8f8f8;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
  --primary-color: #af8cf5;
  --disabled-color: rgb(160, 115, 250,0.5);
  --secondary-color: rgb(174, 139, 244);
  --border-color: #b8b6b6;
  --alternate-primary: #17c214;
  --banner-background: rgb(243, 241, 246);

  /*       Font family      */
  --font-poppins: "Roboto","sans-serif";

  /*       Gradient colors      */
  --bg-gradient-indigo: linear-gradient(to right,#bda0f4 , #a175fa);
  --bg-gradient-reverse:  linear-gradient(to right, #f77554,#fc9e87);
  --bg-gradient-peach: linear-gradient(to right, #fff7f3,#fff7f3);

}

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
  font-size: 62.5%;
}
* > * {
  box-sizing: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


label {
  width: 100%;
}
input {
  width: 100%;
}

select {

  width: 100%;
}

/*  */

/*MAIN APP*/


.app {
  /*background-image: url('../assets/img/banner-background.PNG');*/
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}


/*Modal for Add new employee*/

#modal-add-new {
  display: flex;
  align-items: center;
  /* position: fixed; */
  inset: 0;
}



.modal__body {
  background-color: var(--background-white);
  min-height: 60%;
  max-width: calc(100% - 32px);
  margin: auto;
  z-index: 1;
  transform: translateY(-200%) translateY(0) 1s;
  border-radius: 1em;
  border: 1px solid var(--border-color);
  overflow: auto;
}



.modal__inner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 4.6em;
  max-height: 6em;
  background-color: var(--background-main);
}



.header__tittle {

}

.header__icon-wrapper {
  padding: 0 0.4em;
}
.modal__inner-form-wrapper {
  margin: 1em 6em;
  /* font-size: 1.6rem; */
}


#modal-add-new-form {
  /* font-size: 1.8rem; */
}


.modal__inner-input {
  line-height: 2.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-main);

}


.form__double-col {
  display: flex;
  align-items: center;
}

.form__single-col {
  display: flex;
  align-items: center;
}


.form__double-col-item {
  width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}


.form__single-col-item {
  width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form__double-col-item-selection-select {
  margin-bottom: 0.3rem;;
}
.form__single-col-item-label,
.form__double-col-item-label {
  line-height: 3rem;
  font-weight: 600;
  margin-top: 0.4em;
}

.form__info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: stretch;
}

.form__info-label {
  margin-top: 0.4em;
  line-height: 3rem;
  font-weight: 600;
}



.add-emp-btn {
  margin: 1em 0;
  width: 16em;
  border: none;
  cursor: pointer;
  padding: .8rem 2rem;
  border-radius: 50px;
  font-family: var(--font-poppins);
  box-shadow: var(--box-shadow);
  border: 0.5px solid #dddddd;
  background: var(--bg-gradient-indigo);
  float: right;
  /* font-size: 1.4rem; */
  line-height: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

